/* @media screen and (min-width: 768px);
@media screen and (min-width: 1200px); */

.hero {
  background-color: var(--main);
}
.hero .container {
  padding: 50px 32px 50px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1;
}

.hero-header {
  font-size: 38px;
  color: var(--main-text);
}
.hero-text {
  color: var(--secondary);
  font-size: 12px;
}
.hero-img {
  width: 240px;
  height: 200px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(172, 173, 194, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-pic.jpg);
  background-size: cover;
  background-repeat: no repeat;

  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero .container {
    padding: 70px 80px 70px 80px;

    flex-direction: row;
  }
  .hero-header-text-container {
    width: 500px;
  }

  .hero-header {
    font-size: 38px;
  }
  .hero-text {
    font-size: 16px;
  }
  .hero-img {
    width: 450px;
    height: 200px;
    background-image: linear-gradient(
        to bottom,
        rgba(172, 173, 194, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-pic.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding: 100px 100px 100px 100px;
  }

  .hero-header {
    font-size: 48px;
  }
  .hero-text {
    font-size: 18px;
  }
  .hero-img {
    width: 450px;
    height: 200px;
    background-image: linear-gradient(
        to bottom,
        rgba(172, 173, 194, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-pic.jpg);
  }
}

/***************** add info section*********************/

.additional-info .container {
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.addIn-pic-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addIn-pic {
  background-image: linear-gradient(
    to bottom,
    rgba(172, 173, 194, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  border: 3px solid var(--button);
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .additional-info .container {
    padding: 40px 200px 40px 200px;

    gap: 40px;
  }

  .addIn-pic-container {
    flex-direction: row;
  }

  .addIn-pic {
    background-image: linear-gradient(
      to bottom,
      rgba(172, 173, 194, 0.7),
      rgba(46, 47, 66, 0.7)
    );
    border: 3px solid var(--button);
    border-radius: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .additional-info .container {
    padding: 50px 250px 50px 250px;

    gap: 50px;
  }

  .addIn-pic {
    background-image: linear-gradient(
      to bottom,
      rgba(172, 173, 194, 0.7),
      rgba(46, 47, 66, 0.7)
    );
    border: 3px solid var(--button);
    border-radius: 16px;
  }
}

.inspiring-quote .container {
  padding: 20px 50px 20px 50px;
  background-color: var(--secondary);
}

.inspQuote {
  font-style: italic;
  font-size: 38px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .inspiring-quote .container {
    padding: 20px 50px 20px 50px;
  }

  .inspQuote {
    font-style: italic;
    font-size: 48px;

    width: 700px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .inspiring-quote .container {
    padding: 40px 200px 40px 200px;
  }

  .inspQuote {
    font-style: italic;
    font-size: 48px;
    width: 800px;
  }
}

.contact-us .container {
  padding: 20px 50px 20px 50px;
  background-color: var(--button);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.contactUs-header-text-block {
  color: var(--secondary);
}

.contactUs-btn {
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .contact-us .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
}
