.img {
  background-image: url("../../../images/mercedes-wallpaper.jpg");
  background-size: cover;
  min-height: 450px;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

main .container {
  padding: 0;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  margin: 25px;
}

.quote {
  max-width: 500px;
}

.form {
  padding: 25px;
  border: 1px solid var(--button);
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}

#model,
#mileage,
#body-type,
#year,
#fuel,
#price-range {
  background-color: #f0f0f0;
  color: var(--main);
  font-weight: 400;
  border-radius: 2px;
}

.quote-block {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .cont {
    flex-direction: row;
  }
}
