.footer {
  background-color: var(--main);
  height: 60px;
}

.footer-container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
}

.link {
  font-weight: 18px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  fill: var(--secondary);
  margin-left: 125px;
  cursor: pointer;
}

.icons svg:nth-child(1):hover,
.icons svg:nth-child(1):focus,
.icons svg:nth-child(1):active {
  fill: var(--accent);
}

.icons svg:nth-child(2):hover,
.icons svg:nth-child(2):focus,
.icons svg:nth-child(2):active {
  fill: var(--accent);
}

.icons svg:nth-child(3):hover,
.icons svg:nth-child(3):focus,
.icons svg:nth-child(3):active {
  fill: var(--accent);
}
