.footer {
  background-color: var(--main);
  height: 60px;
}

.footer-container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
}

.link {
  font-weight: 18px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
