.header {
  background-color: var(--main);
  height: 70px;
}
.home-page-logo {
  font-weight: 24px;
  color: var(--logo);
}
.header-container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--secondary);
  font-weight: 18px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
