/*************************** Reset styles ***************************/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration-line: none;
  text-decoration: none;
  transition: color 250ms linear;
  color: inherit;
  cursor: pointer;
}
/*************************** /Reset styles ***************************/

/*************************************************** main styles ************************************************************/

/*************************** fonts  **************************/
@font-face {
  font-family: Roboto-Medium;
  src: url(../src/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../src/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../src/fonts/Roboto-Light.ttf);
}

/************************** /fonts  **************************/

/************************* general  **************************/

:root {
  --font-family: "Roboto-Medium", sans-serif;
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;

  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(22, 22, 22, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto-Light, sans-serif;
  background-color: var(--white);
}

input {
  font-family: inherit;
  background-color: var(--badges);
  color: var(--main);
}
a:hover,
a:focus,
a:active {
  color: #fd9222;
}
/************************* /general  ***************************/

/************************* parameters  *************************/

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .accent-color {
  color: #ecd979;
} */

/************************* /parameters  *************************/
/*************************************************** /main styles ************************************************************/
